{% include 'base.html.twig' %}

{% include 'bundles/_header.html.twig' %}

{% block body %}
<div class="relative flex flex-col flex-grow">
    <div class="relative bg-stone-800 h-4/5">
        <div class="absolute inset-0 bg-cover bg-center blur z-0" style="background-image: url({{ asset('images/image_1.jpg') }});"></div>
        <div class="relative z-10 bg-stone-100 w-1/2 mx-auto rounded-xl bg-opacity-20 p-10">
            <h1 class="text-center text-4xl mt-2">Bienvenue chez l'Artiste Coiffure</h1>
        </div>
    </div>
    <div class="relative bg-stone-800 z-10 flex-grow">
        <h1 class="text-center text-4xl text-white"></h1>
    </div>
</div>
{% endblock %}

{% include 'bundles/_footer.html.twig' %}
